parameters:
    paths:
        - src
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '~^Parameter #2 \$string of function explode expects string, mixed given\.$~'
        -
            message: "#^Function ds\\(\\) has invalid return type LaraDumps\\\\LaraDumps\\\\LaraDumps\\.$#"
            count: 1
            path: src/functions.php
        -
            message: "#^Call to method phpinfo\\(\\) on an unknown class LaraDumps\\\\LaraDumps\\\\LaraDumps\\.$#"
            count: 1
            path: src/functions.php