parameters:
    paths:
        - src
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '~^Parameter #2 \$string of function explode expects string, mixed given\.$~'
